__pycache__/
*.py[cod]

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

.venv/
venv/

build/
dist/
*.egg-info/
.pybuild/

debian/.debhelper/
debian/passport-unlocker/
debian/debhelper-build-stamp
debian/files
debian/*.debhelper.log
debian/*.substvars

*.deb
*.buildinfo
*.changes

.idea/
.vscode/
*.swp
*~
